.container {
	display: flex;
	margin-top: 50px;
	margin-bottom: 0px;
	border: solid 5px black;
	padding: 50px;
	max-width: 700px;
}

.title {
	font-size: 1.2rem;
	font-weight: 500;
}

.searchButton {
	text-align: center;
	padding-top: 30px;
}

.textInput {
	height: 30px;
	border: 2px solid black;
	outline: none;
	padding-left: 12px;
	font-family: "Montserrat", sans-serif;
	margin-left: 10px;
}

.textInput:focus {
	background-color: rgb(218, 218, 218);
}

.question {
	padding-bottom: 20px;
}

.buttonContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 12px;
}

.button {
	flex-basis: 1;
}
