.container {
	display: flex;
	margin: 50px 20px 0px 20px;
	border: solid 5px black;
	padding: 50px;
	max-width: 700px;
}

.title {
	font-size: 1.2rem;
	font-weight: 500;
}

.searchButton {
	text-align: center;
	padding-top: 30px;
}

.textInput {
	height: 30px;
	border: 2px solid black;
	-webkit-border-radius: 0px;

	/* Firefox 1-3.6 */
	-moz-border-radius: 0px;

	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 0px;
	outline: none;
	padding-left: 12px;
	font-family: "Montserrat", sans-serif;
	margin-left: 10px;
}

.textInput:focus {
	background-color: rgb(218, 218, 218);
}

.question {
	padding-bottom: 20px;
}

.buttonContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 12px;
}

.button {
	flex-basis: 1;
}

@media only screen and (max-width: 512px) {
	.container {
		padding: 30px;
		margin: 50px 30px 0px 30px;
	}
}

@media only screen and (max-width: 478px) {
	.container {
		padding: 20px;
		margin: 50px 20px 0px 20px;
	}

	.searchButton {
		padding-top: 10px;
	}

	.textInput {
		height: 30px;
		border: 2px solid black;
		outline: none;
		font-family: "Montserrat", sans-serif;
		margin-top: 10px;
		margin-left: 0px;
	}
}
