@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Inter:wght@200;300;400&family=Montserrat:wght@400;500;600;700;800&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
